//AngularJS
script(type='text/javascript', src='/lib/ng-file-upload/angular-file-upload-shim.js')
script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/momentjs/min/moment-with-langs.min.js')
script(type='text/javascript', src='/lib/angular-sanitize/angular-sanitize.js')
script(type='text/javascript', src='/lib/ng-file-upload/angular-file-upload.js')
script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')
script(type='text/javascript', src='/lib/angular-route/angular-route.js')
//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap.js')
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/route/route.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/keypress/keypress.js')
script(type='text/javascript', src='/lib/textAngular/textAngular.min.js')
//Application Init
script(type='text/javascript', src='/js/app2.js')
script(type='text/javascript', src='/js/config2.js')
script(type='text/javascript', src='/js/directives.js')
script(type='text/javascript', src='/js/filters.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/rooms.js')
script(type='text/javascript', src='/js/services/infos.js')
script(type='text/javascript', src='/js/services/contacts.js')
script(type='text/javascript', src='/js/services/galleries.js')
script(type='text/javascript', src='/js/services/slides.js')
script(type='text/javascript', src='/js/services/bookings2.js')
script(type='text/javascript', src='/js/services/testimonies.js')
script(type='text/javascript', src='/js/services/blogs.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/rooms.js')
script(type='text/javascript', src='/js/controllers/infos.js')
script(type='text/javascript', src='/js/controllers/contacts.js')
script(type='text/javascript', src='/js/controllers/galleries.js')
script(type='text/javascript', src='/js/controllers/slides.js')
script(type='text/javascript', src='/js/controllers/bookings2.js')
script(type='text/javascript', src='/js/controllers/testimonies.js')
script(type='text/javascript', src='/js/controllers/blogs.js')
script(type='text/javascript', src='/js/controllers/index.js')
script(type='text/javascript', src='/js/controllers/header.js')
script(type='text/javascript', src='/js/init.js')
