h4 CONTACT DETAILS
if right
  !{right}
else
  p
    span.fa-stack.fa-2x
      i.fa.fa-circle.fa-stack-2x
      i.fa.fa-phone.fa-stack-1x.fa-inverse
    span.strong Phone:
    span +62 274 588066
  p
    span.fa-stack.fa-2x
      i.fa.fa-circle.fa-stack-2x
      i.fa.fa-building-o.fa-stack-1x.fa-inverse
    span.strong SMS Reservation:
    span +6281905008000
  p
    span.fa-stack.fa-2x
      i.fa.fa-circle.fa-stack-2x
      i.fa.fa-align-justify.fa-stack-1x.fa-inverse
    span.strong Fax:
    span +62 274 541692 | +62 274 550470
  p
    span.pull-left.fa-stack.fa-2x
      i.fa.fa-circle.fa-stack-2x
      i.fa.fa-map-marker.fa-stack-1x.fa-inverse
    span.pull-left(style="padding-top: 4px;")
      span.strong(style="float:left") Address:
      span(style="float:left") Jl. Kaliurang No 25 Km 5,2 <br />Yogyakarta - Indonesia 55284
  .clearfix
  p
    span.pull-left.fa-stack.fa-2x
      i.fa.fa-circle.fa-stack-2x
      i.fa.fa-envelope.fa-stack-1x.fa-inverse
    span.pull-left(style="padding-top: 4px;")
      span.strong(style="float:left") Email:
      span(style="float:left") marketing@cakrakusuma-hotel.com<br \>sales@cakrakusuma-hotel.com
