extends ../layouts/index

block content  
  #page-header
    .container
      .col-md-12
        h1 CONTACT US
  #content1.container
    .col-md-8
      .content-page.row
        each contact in contacts
          .col-md-4
            a(href="/index.php/contact-us/"+contact.level)
              h4=contact.position
              p=contact.name
    .col-md-4.contactdetails
      include ../includes/right-widget
      