extends ../layouts/index

block content  
  #page-header
    .container
      .col-md-12
        h1 FACILITIES
  #content1.container
    .col-md-8
      .content-page(style="padding-bottom:20px")        
        .perpage         
          h3.title Our hotel provides various facilities you can enjoy during your staying in Yogya.<br />The hotel facilities we provide are as follows: 
          ul
            li
              i.fa.fa-check 
              span Free Welcome drink and Afternoon Tea              
            li
              i.fa.fa-check 
              span Free Hot spot area (At Lobby, Coffee Shop, Restaurant )   
            li
              i.fa.fa-check 
              span Alamanda Swimming Pool              
            li
              i.fa.fa-check 
              span Meeting Rooms              
            li
              i.fa.fa-check 
              span Joglo Bougenville Restaurant             
            li
              i.fa.fa-check 
              span Pool table              
            li
              i.fa.fa-check 
              span The SPA (operated by third party )
            li
              i.fa.fa-check 
              span Kana Coffee shop
            li
              i.fa.fa-check 
              span Laundry & Dry cleaning
            li
              i.fa.fa-check 
              span ATM & Bank
            li
              i.fa.fa-check 
              span Travel Agent
            li
              i.fa.fa-check 
              span Taxi & Car rental
        .imageline2
          img(src="/img/gallery/drink-cakra-kusuma-hotel.jpg",alt="drink")
          img(src="/img/gallery/food-cakra-kusuma-hotel.jpg",alt="food")
          img(src="/img/gallery/pool-cakra-kusuma-hotel.jpg",alt="pool")          
        
    .col-md-4.contactdetails
      include ../includes/right-widget
      