extends ../layouts/index

block content  
  #page-header
    .container
      .col-md-12
        h1 FACT SHEET
  #content1.container
    .col-md-8
      .content-page
        .perpage          
          h2.title ACCOMODATION
          ul
            li
              i.fa.fa-check 
              span 70 rooms in 7 types : Standard, Business, Superior, Deluxe, Executive, Suite & Family Suite
            li
              i.fa.fa-check 
              span Rooms are equipped with : Air Conditioning, Cable TV, Refrigerator, Mini Bar, Tea and Coffee Maker, IDD Call and Hot & Cold Water.
            li
              i.fa.fa-check 
              span Check Out time 12.00 noon
          img(src="/img/gallery/accomodation-cakra-kusuma-hotel.jpg",alt="accomodation facilities")
        .perpage          
          h2.title RECREATION FACILITIES
          ul
            li
              i.fa.fa-check 
              span Alamanda Swimming Pool
            li
              i.fa.fa-check 
              span Pool Table / Billiard
            li
              i.fa.fa-check 
              span SPA to fresh your body after full day activities  
          img(src="/img/gallery/swimming-pool-cakra-kusuma-hotel.jpg",alt="accomodation facilities")
        .perpage          
          h2.title TRANSPORTATION
          p From Hotel to
          ul
            li
              i.fa.fa-check 
              span Adisucipto International Airport 8 km
            li
              i.fa.fa-check 
              span Railway station 5 km
            li
              i.fa.fa-check 
              span Malioboro Street 5 km
            li
              i.fa.fa-check 
              span Prambanan Temple 18 km
            li
              i.fa.fa-check 
              span Railway station 5 km
            li
              i.fa.fa-check 
              span Sultan Palace 6 km 
            li
              i.fa.fa-check 
              span Parangtritis Beach 35 km
            li
              i.fa.fa-check 
              span Gadjah Mada University 200 meters
          img(src="/img/gallery/transportation-cakra-kusuma-hotel.jpg",alt="transportation")
        .perpage          
          h2.title FACILITIES & SERVICES          
          ul
            li
              i.fa.fa-check 
              span Free Wifi Hotspot
            li
              i.fa.fa-check 
              span Kana Lounge
            li
              i.fa.fa-check 
              span Joglo Bougainville Restaurant
            li
              i.fa.fa-check 
              span Kembang Dadap Cafe
            li
              i.fa.fa-check 
              span Alamanda Swimming Pool
            li
              i.fa.fa-check 
              span Meeting Rooms
            li
              i.fa.fa-check 
              span 24 - Hour Room Service
            li
              i.fa.fa-check 
              span Doctor on Call 24 hours
            li
              i.fa.fa-check 
              span Bilingual Hotel Staff
            li
              i.fa.fa-check 
              span Laundry & Dry Cleaning
            li
              i.fa.fa-check 
              span Travel Agent
            li
              i.fa.fa-check 
              span ATM & Bank
            li
              i.fa.fa-check 
              span Drugstore & Mini Market
          i Major Credit Cards Accepted
          img(src="/img/gallery/kana-lounge-cakra-kusuma-hotel.jpg",alt="kana lounge")
          
    .col-md-4.contactdetails
      include ../includes/right-widget
      