extends ../layouts/index

block content  
  #page-header
    .container
      .col-md-12
        h1 GUEST SERVICES
  #content1.container
    .col-md-8
      .content-page          
        .perpage          
          h2.title General Services & Amenities
          .col-md-6
            ul
              li
                i.fa.fa-check 
                span Baggage Storage                
              li
                i.fa.fa-check 
                span The Spa                
              li
                i.fa.fa-check 
                span Car Rental Desk                
              li
                i.fa.fa-check 
                span Concierge Desk                
              li
                i.fa.fa-check 
                span Foreign Currency Exchange                
              li
                i.fa.fa-check 
                span Drugstore & Mini Market                
              li
                i.fa.fa-check 
                span Guest Activity/Recreation Desk
              li
                i.fa.fa-check 
                span Doctor on Call               
              li
                i.fa.fa-check 
                span Free Internet Hotspot
          .col-md-6
            ul
              li
                i.fa.fa-check 
                span Laundry/Valet Service             
              li
                i.fa.fa-check 
                span Local Area Transportation               
              li
                i.fa.fa-check 
                span Lounge              
              li
                i.fa.fa-check 
                span Luggage Hold              
              li
                i.fa.fa-check 
                span Multi-Lingual Staff               
              li
                i.fa.fa-check 
                span Room Service              
              li
                i.fa.fa-check 
                span Tour Desk
              li
                i.fa.fa-check 
                span ATM & Bank             
              li
                i.fa.fa-check 
                span Restaurant
        .perpage          
          h2.title Business Services & Amenities
          .col-md-6
            ul
              li
                i.fa.fa-check 
                span Lounge             
              li
                i.fa.fa-check 
                span Meeting Rooms             
              li
                i.fa.fa-check 
                span Fax                             
          .col-md-6
            ul
              li
                i.fa.fa-check 
                span LCD Projector
              li
                i.fa.fa-check 
                span Audio Visual Service
              li
                i.fa.fa-check 
                span Meeting Equipment                  
        
    .col-md-4.contactdetails
      include ../includes/right-widget
      