extends ../layouts/index

block content  
  #page-header
    .container
      .col-md-12
        h1 LEISURE
  #content1.container
    .col-md-8
      .content-page
        img(src="/img/gallery/borobudur-cakra-kusuma-hotel.jpg",alt='borobudur cakra kusuma hotel')
        p
          span Formerly the capital of the ancient Mataram Empire, Yogyakarta definitely deserves to be called 'the cradle of Javanese culture'. Life in Yogyakarta is rich with many of the traditional aspects that still can be found in this city, living side by side in harmony with those of the contemporary ones. Proudly preserving the traditional ways, willingly accepting the modern means, and boldly emerging a brand new culture as a result, that's the true nature of Yogyakarta.                      
        p
          span There are many places of interest to see within or close to Yogyakarta. Among others are: Merapi Volcano and Kaliurang Mountain Resort, Borobudur, world's greatest Buddhist monument, Prambanan, the most beautiful Hindu shrines in Indonesia, Gembira Loka Zoo, Imogiri Royal Cemetery, Bird Market, Sultan Palace of Yogyakarta, Taman Sari, the Royal Water Castle, Parangritis Beach, and many others. You can find more explanation about those palaces in the Culture & Nature sections.
        img(src="/img/gallery/merapi-cakra-kusuma-hotel.jpg",alt='merapi cakra kusuma hotel')
        p
          span For those who love cycling, the countryside surrounding of Yogyais a perfect place. You can cycle your all around the villages, learning about the local life, and interact directly with the locals. For golf lovers, there are three golf courses in and around Yogyakarta: Merapi Golf (18 hole) in Cangkringan area, Adisucipto Golf (18 hole) in Maguwo area, and Hyatt Golf Course (9 hole) at Hyatt Regency Yogyakarta.
        p
          span Yogya is also a colorful attraction for any epicurean who loves the company of good food. Various food stalls can be found almost anywhere around this city. Malioboro area, for instance, has been long known as the gathering of food stalls, where they were served in 'lesehan' style; it means you sat on a mat, no chair. Restaurants of various types can also be found in abundance here in Yogya. Chinese foods, Javanese foods, sea foods, junk foods, whatever you need, they are all here. There are at least 179 restaurants, big and small, in Yogya; and that includes the international franchise such as Kentucky Fried Chicken, MacDonald's, etc. Following is the list of some recommended restaurants in Yogya:        
        .row  
          .col-md-3.col-xs-12.pull-right
              img(src="/img/gallery/engking-cakra-kusuma-hotel.jpg",alt='merapi cakra kusuma hotel')
          .col-md-9.col-xs-12.pull-left
              ol
                li Pesta Perak Restaurant (Indonesian food)
                li Gajah Wong Restaurant (European Food)
                li Rempah Resto (Indonesian & European Food)
                li Gabah Resto (Steak)
                li Omah Dhuwur (European Food)
                li Prambanan Restaurant (Indonesian Food)
                li Ny. Suharti Restaurant (Indonesian Food, Javanese fried chicken)
                li Mbok Berek Restaurant (Indonesian Food, Javanese fried chicken)
                li Kali Opak Resto (Indonesian Food)
                li Tempura Hana (Japanese Food)
                li Sintawang (Chinese Food)
        p
          span Amusement and night life is also a part of Yogya. You can find The Club in Borobudur Plaza area, Hugo's Cafe in Sheraton Mustika area, Java Cafe in Jl. Magelang, Soda Lounge in Jl. Adisucipto, Shikafe Saptohoedojo near the airport, Jogja Cafe, Ethnic Cafe in Purawisata area and many others. Those who enjoy playing pool or billiard can go to the Q-Club in Jl. Magelang. As for the children's amusement, they can enjoy Kids Fun Parcs in Jl. Yogya-Wonosari.
        p
          span Yogya also encourages the economic growth commencing from various tidbits, handicrafts, displayed at souvenir shops, galleries, pasar (traditional market), etc. There are also several areas which specialize in producing a certain type of products.
        p
          strong Ceramic and Pottery
        p
          span This sector is highly motivated by tourism growth. This industry is not the monopoly of one region only. Some villages that worth and recommended to visit: Kasongan Village and Pundong Village, located at Bantul Regency.
        p
          strong Batik
        p
          span The most famous area for Batik art shops is Tirtodipuran area. Some recommended artshops are Jonggrang, Winotosastro, Plentong, and several others.
        p 
          strong Silver and jewelry
        p
          span An old urban quarter Kotagede in Yogyakarta makes silver the brand name of this place. It is the old Mataram capital city that is well-known as its Silver home industry center. The alloy ratio of 92.5%-7,5% silver-copper filigree is the trademark guarantee and 80%-20% for silverwares and other kind of solid silver objects. Silver is also associated with jewelry and precise gem where the polishing semi precise stones found in all regions to provide the art galleries and handicraft stalls. There are a lot of good silver artshops in this area, among others are Ansor Silver, HS Silver, Tom Silver, etc.
        p
          strong Stone Carving
        p
          span It is another fast growing industry. The talented artists express their inspiration in the form of any art objects. Regardless many other places, the most outstanding stone carving center is Prumpung village located near Borobudur at Magelang Regency, north of Yogya. The raw material is easily obtained in the nearby area provided by Merapi volcano that periodically vomits uncountable number of volcanic stone blocks.
        p 
          strong Weaving 
        p
          span There has been a considerable decreasing number of wooden traditional weaving machines. Thanks to some private companies who maintain this cloth-making method that now they recapture their optimistic resurrection corresponding to tourism growth. Some of them are found in Kulonprogo Regency, and a lot of them in Moyudan sub-district of Sleman Regency. 
        p
          strong Leather 
        p
          span Meat is consumed widely in Indonesia which make animal leather is easily found. Many leather good home industries making various objects such as shoe, sandal, belt, hat, bag, wallet, jacket etc. Such industry is widely developed in Yogya. Narindra Collection, Exis Collection, Tria Collection, these are some of the art shops specializing in leather products.
        p
          strong Bamboo
        p
          span Small handicrafts, baskets and various kinds of objects are displayed at souvenir stalls and bamboo furniture is widely manufactured in all regions. Nambongan village, for instance, specializes in many forms of bamboo weaving: fruit baskets, bamboo hats, bamboo mats, etc. while Cebongan village is famous for its bamboo furniture industries.
        p
          strong Precious Stone
        p
          span Different regions provide various colorful semi precise stones to be polished set in jewelry or carved into ornaments. You can find the variation in Alia Jewelry, Javan Craft, Harry Art, and other art shops specializing in this kind of work.
        p
          span What else can you find in Yogya? The list can be too long too write here. All you have to do is to come directly to Yogya and see for yourself.
        
    .col-md-4.contactdetails
      include ../includes/right-widget
      