extends ../layouts/index

block content  
  #page-header
    .container
      .col-md-12
        h1 PHOTO GALLERY
  #content1.container
    .col-md-8
      .content-page
        .row
          each image in img
            .col-xs-6.col-md-3
              a.thumbnail(href="javascript:gallerysee('"+image.image+"')")
                img(src='/img/thumbs/'+image.image,alt=image.alt)
    .col-md-4.contactdetails
      include ../includes/right-widget
      
