extends ../layouts/index

block content  
  #page-header
    .container
      .col-md-12
        h1 RESTAURANT & BARS
  #content1.container
    .col-md-8
      .content-page
        .perpage          
          h2.title Kana Lounge & Bar
          p Relax on our  lounge after your business activity ends. Release your business team for a while and enjoy your time with a cup of coffe, tea, mocktail, milk shake, juices and other beverages.
        .perpage          
          h2.title Joglo Bougenville Restaurant
          p Joglo Bougenville Restaurant which is one of the inovative restaurant offering a wide variety of outhentic cuisine local dishes or Indonesian specialities, Asian and Europeon foods. Joglo Bougenville restaurant  has 100 seats with the best Indonesian food has to offer - great food allday long where the breakfast is served.  Please enjoy your time with our taste.
        
    .col-md-4.contactdetails
      include ../includes/right-widget
      