extends ../layouts/index

block content  
  #page-header
    .container
      .col-md-12
        h1 ROOMS & SUITES
  #content1.container
    .col-md-8
      .content-page
        .perpage          
          h2.title The Cakra Kusuma Hotel offers 70 well decorated guest rooms and suites
          p Rooms are decorated in contemporary classic design.<br />Suites offer more spacious size with more comfortable bed room,<br />set in contemporary Indonesian style with carved Javanesse wooden accents
          
        .perpage          
          h2.title ROOM TYPES          
          ul
            li
              i.fa.fa-check 
              span Standard 21 Rooms
              span.text2 ( 3 Double + 18 Twin )
            li
              i.fa.fa-check 
              span Business 16 Rooms 
              span.text2 ( 9 Double + 7 Twin )
            li
              i.fa.fa-check 
              span Superior 13 Rooms
              span.text2 ( 7 Double + 6 Twin )
            li
              i.fa.fa-check 
              span Deluxe 12 Rooms
              span.text2 ( 5 Double + 7 Twin )
            li
              i.fa.fa-check 
              span Executive 4 Rooms
              span.text2 ( 4 king size bed )
            li
              i.fa.fa-check 
              span Suite 3 Rooms
              span.text2 ( 3 king size bed )
            li
              i.fa.fa-check 
              span Family Suite 1 Room
              span.text2 ( 2 king size bed )
        .imageline
          img(src="/img/gallery/room-standard-cakra-kusuma-hotel.jpg",alt="standard room")
          img(src="/img/gallery/room-business-cakra-kusuma-hotel.jpg",alt="standard room")
          img(src="/img/gallery/room2-cakra-kusuma-hotel.jpg",alt="standard room")
          img(src="/img/gallery/room3-cakra-kusuma-hotel.jpg",alt="standard room")
        .perpage          
          h2.title ROOM FACILITIES         
          ul
            li
              i.fa.fa-check 
              span Air Conditioning
            li
              i.fa.fa-check 
              span Hot & Cold Water
            li
              i.fa.fa-check 
              span Tea & Coffee maker
            li
              i.fa.fa-check 
              span Television
            li
              i.fa.fa-check 
              span Refrigerator (Except Standard Room )
            li
              i.fa.fa-check 
              span Mini Bar (Except Standard Room)
            li
              i.fa.fa-check 
              span IDD Call
    .col-md-4.contactdetails
      include ../includes/right-widget
      