extends ../layouts/index

block content  
  #page-header
    .container
      .col-md-12
        h1 SPECIALS & OFFERS
  #content1.container
    .col-md-8
      .content-page
        .perpage          
          h2.title(style="font-style: italic;") PUBLISHED RATE 2013
          .row
            .col-md-6            
              table.table.table-striped.table-bordered
                thead
                  tr
                    td 
                      strong Type of Room                  
                    td 
                      strong Rate
                tbody
                  tr
                    td Standard
                    td Rp. 400.000 ++
                  tr
                    td Business
                    td Rp. 500.000 ++
                  tr
                    td Superior
                    td Rp. 550.000 ++
                  tr
                    td Deluxe
                    td Rp. 600.000 ++
                  tr
                    td Executive
                    td Rp. 750.000 ++
                  tr
                    td Suite
                    td Rp. 1.000.000 ++
                  tr
                    td Family Suite
                    td Rp. 1.500.000 ++
                  tr
                    td Extra Bed
                    td Rp. 150.000 ++
            .col-md-6
              img(src="/img/gallery/suitebig-cakra-kusuma-hotel.jpg",alt="suite big")
          p(style="text-decoration:underline;font-style: italic;") Benefits:
          ul(style="list-style: initial;padding-left: 18px;")
           li Buffet breakfast at Joglo Restaurant for maximum 2 persons from 06.00 to 10.00
           li Afternoon tea /coffee with light snacks at Kana Lounge from 17.00 to 19.00
           li Rates are subject to 21% tax & services
           li Special group rates are available upon request
           li Rates are subject to change without notice        
        .perpage              
          h2.title(style="text-decoration:underline;text-align:center") LONGSTAYING PACKAGE   
          h3
            strong Only For Rp. 4.690.000,- nett
          h3
            strong (Stay for 14 Nights)        
          ul(style="list-style: initial;padding-left: 18px;")       
            li Up grade to Business room
            li Daily buffet breakfast at Joglo Restaurant
            li Daily local mewspaper
            li 15% discount for laundry
            li 10% disvount for food & beverage
            li Weekly fruit basket
            li Free bilyard
            li Free WIFI Hotspot at Kana Lounge, Lobby area and restaurant
            li Complimentary afternoon tea / coffee with light snacks at Kana Lounge from 17.00 to 19.00
            li Rate are include 21% tax & service
        .perpage              
          h2.title(style="text-decoration:underline;text-align:center") SUNDAY PACKAGE                    
          ul(style="list-style: initial;padding-left: 18px;")       
            li Standard room              : Rp.350.000,- nett/room/night, including breakfast
            li Business room              : Rp.400.000,- nett/room/night, including breakfast 
        .perpage              
          h2.title(style="text-decoration:underline;text-align:center") PAKET NYEPI
          h3
            strong Rp.650.000 Net,-  
          h3
            strong (Validity: 8-13 March 2013)
          p Special benefits:
          ul(style="list-style: initial;padding-left: 18px;")       
            li Stay at business room
            li Buffet breakfast at Joglo Bougenvile Restaurant for 1 or 2 persons
            li Dinner for 2 persons at Joglo Bougenvile Restaurant
            li Welcome drink upon arrival time
            li Afternoon tea/coffee with light snack at Kana Lounge from 17.00 to 19.00
            li Rate are nett prices, alredy include tax & service
    .col-md-4.contactdetails
      include ../includes/right-widget
      