<section data-ng-controller="RoomsController"  data-ng-init="findOne()">
	<h1>Edit rooms</h1>
	<form class="form-horizontal" role="form" data-ng-submit="update()">
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputEmail3" placeholder="Name" ng-model="room.name" required>
			</div>
		</div>
    <div class="form-group">
			<label for="inputEmail3" class="col-sm-2 control-label">Price</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" id="inputEmail3" placeholder="Price" ng-model="room.price">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword3" class="col-sm-2 control-label">Image</label>
			<div class="col-sm-10">
				<input type="file" name="file" accept="image/*" ng-file-select="onFileSelect($files)">
				<div class="progress progress-striped active" ng-hide="progress==0">
					<div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%">
						<span class="sr-only">{{progress}}% Complete</span>
					</div>
				</div>
				<div ng-show="image">
					<img ng-show="image" ng-mode="image" ng-src="/img/thumbs/{{room.image}}" />
					<input type="text" class="form-control" ng-model="room.rel" placeholder="rel" />
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-2 control-label">Occupancy</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" id="inputEmail3" placeholder="Occupancy" ng-model="room.occupancy">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-2 control-label">Size</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputEmail3" placeholder="Size" ng-model="room.size">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-2 control-label">View</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputEmail3" placeholder="View" ng-model="room.view">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-2 control-label">Type</label>
			<div class="col-sm-10">
				<ul>
					<li ng-repeat="type in room.type">
						<input type="text" ng-model="type.type" >
					</li>
				</ul>
				<button type="button" class="btn btn-default" ng-click="addType2()">Add Type</button>
			</div>
		</div>
		<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-success">Submit</button>
		</div>
		</div>
	</form>
</section>