<section >
  <table class="table table-striped">
    <thead>
      <tr>        
        <th>Main Menu</th>
        <th>Sub Menu</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Home
        </td>
        <td>
          <ul>
            <li>
              Fact Sheet
              <a href="#!/infos/home/fact-sheet">
                <i class="fa fa-edit"></i>
              </a>
            </li>
            <li>
              Accomodation
              <a href="#!/infos/home/accomodation">
                <i class="fa fa-edit"></i>
              </a>
              <ul>
                <li>
                  Rooms & Suites
                  <a href="#!/infos/home/rooms-a-suites">
                    <i class="fa fa-edit"></i>
                  </a>
                </li>
                <li>
                  Guest Services
                  <a href="#!/infos/home/guest-services">
                    <i class="fa fa-edit"></i>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              Jogja Map
              <a href="#!/infos/home/jogja-map">
                <i class="fa fa-edit"></i>
              </a>
            </li>
            <li>
              E-brochure
              <a href="#!/infos/home/e-brochure">
                <i class="fa fa-edit"></i>
              </a>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          Reservations
        </td>
        <td>
          <ul>
            <li>
              Publish Rate
              <a href="#!/infos/reservations/publish-rate">
                <i class="fa fa-edit"></i>
              </a>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          Facilites
          <a href="#!/infos/facilities/facilities">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <ul>
            <li>
              Restaurant & Bars
              <a href="#!/infos/facilities/restaurant-a-bars">
                <i class="fa fa-edit"></i>
              </a>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          Package
        </td>
        <td>
          <ul>
            <li>
              M.I.C.E
              <a href="#!/infos/package/mice">
                <i class="fa fa-edit"></i>
              </a>
            </li>
            <li>
              Leisures
              <a href="#!/infos/package/leisures">
                <i class="fa fa-edit"></i>
              </a>
            </li>
            <li>
              Specials & Offers
              <a href="#!/infos/package/specials-a-offers">
                <i class="fa fa-edit"></i>
              </a>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          Career
          <a href="#!/infos/career/career">
            <i class="fa fa-edit"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          About Us
        </td>
        <td>
          <ul>
            <li>
              About Us
              <a href="#!/infos/contact/about-us">
                <i class="fa fa-edit"></i>
              </a>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          Transfer
          <a href="#!/infos/transfer/transfer">
            <i class="fa fa-edit"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Contact Detail
          <a href="#!/infos/contactdetail/contact-detail">
            <i class="fa fa-edit"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Front
        </td>
        <td>
          <ul>
            <li>
              Special Offer
              <a href="#!/infos/front/special-offer">
                <i class="fa fa-edit"></i>
              </a>
            </li>
            <li>
              Hotel Review
              <a href="#!/infos/front/hotel-review">
                <i class="fa fa-edit"></i>
              </a>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>	
</section>
